.progress-bar {
  width: 100%;
  height: fit-content;
  background-color: gray;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.progress-complete {
  background-color: var(--progress-color);
  flex: var(--progress);
  border-radius: 10px 0 0 10px;
}

.progress-complete,
.progress-incomplete {
  height: 30px;
  line-height: 30px;
}

.progress-incomplete {
  vertical-align: center;
  padding: 0 10px;
  flex: var(--incomplete);
  text-align: end;
}
