.task-item {
  background-color: transparent;
  padding: 20px;
  display: flex;
  vertical-align: center;
  align-items: center;
  flex: 1;
  width: fit-content;
}

.task-label,
.task-img {
  padding: 0px;
  margin: 8px;
}
